body {
    background-color: #133667;
    color: white;
    text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 20px;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 10px;
  width: 300px
}

.Results {
  color: white;
  margin-top: 30px;
}

.Desktop {
  margin-left: 300px;
  margin-right: 300px;
  background-color: white;
  border-radius: 20px;
  color: black;
  padding: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.Tablet {
  margin-left: 150px;
  margin-right: 150px;
  background-color: white;
  border-radius: 8px;
  color: black;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.Mobile {
  margin-left: 50px;
  margin-right: 50px;
  background-color: white;
  border-radius: 8px;
  color: black;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.iphone12mini {
  margin-left: 50px;
  margin-right: 50px;
  background-color: white;
  border-radius: 8px;
  color: black;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.iphone11 {
  margin-left: 50px;
  margin-right: 50px;
  background-color: white;
  border-radius: 8px;
  color: black;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.iphone12pro {
  margin-left: 50px;
  margin-right: 50px;
  background-color: white;
  border-radius: 8px;
  color: black;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.oneplus6 {
  margin-left: 50px;
  margin-right: 50px;
  background-color: white;
  border-radius: 8px;
  color: black;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.extralargescreen {
  margin-left: 350px;
  margin-right: 350px;
  background-color: white;
  border-radius: 20px;
  color: black;
  padding: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}